<h3>Shopping Cart</h3>
<div ng-controller="CartTopController">
  <table class="table table-bordered">
    <thead>
      <th>#</th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="(index, product) in cart">
        <td>{{index + 1}}</td>
        <td>
          <div class="col-md-2"><img class="thumbnail" ng-src="/images/{{product.image}}" style="max-width:100%;"></div>
          <div class="col-md-10">
            <a href="#" class="product-name">{{product.name}}</a><br>
            <span class="product-producer">by {{product.producer}}</span><br>
          </div>
        </td>
        <td style="vertical-align: middle;">
          <span class="product-price">${{product.price | number:2}}</span>
        </td>
        <td style="vertical-align: middle;"><input type="number" ng-model="quantity" ng-value={{product.quantity}} min=0 max=100 ng-change="updateTotal(product.id, quantity)"/></td>
        <td style="vertical-align: middle;"><span class="product-price">${{product.price*product.quantity | number:2}}</span></td>
        <td style="vertical-align: middle;">
          <a href="" ng-click="removeItem(index)"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">Total: <span class="product-price">${{total | number:2}}</span></p>
</div>
